# Librerías esenciales
pandas
openpyxl
geopy
streamlit_folium
scikit-learn
numpy

# Visualizaciones
matplotlib
seaborn
plotly-express
folium
streamlit-folium
matplotlib_venn
streamlit

# Modelado y computación
scikit-learn
scipy
ortools
folium
yfinance

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire
colorama

# Miscelánea
geopandas
chart-studio
nltk
kaggle
lxml