# Librerías esenciales
pandas
openpyxl
geopy
streamlit_folium
scikit-learn
numpy

# Visualizaciones
matplotlib
seaborn
plotly-express
folium
streamlit-folium
matplotlib_venn
streamlit==1.20.0

# Modelado y computación
scikit-learn
scipy
ortools
folium
yfinance

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire
colorama

# Miscelánea
geopandas
chart-studio
nltk
kaggle
lxml

Python 3.6 or higher.
numpy (>= 1.13.3)
scipy (>= 1.0.1)
pandas (>= 0.22.0)
matplotlib (>= 2.1.2)