# Librerías esenciales
numpy
pandas
openpyxl
geopy
streamlit_folium
scikit-learn
# Visualizaciones
matplotlib
seaborn
plotly-express
folium
streamlit-folium
matplotlib_venn
streamlit==1.20.0

# Modelado y computación
scikit-learn
scipy
ortools
folium

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire
colorama
beatifulsoup4

# Miscelánea
geopandas
chart-studio
nltk
kaggle
lxml